body {
    font-family: "Montserrat";
    text-align: center;

}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}
a:active {
    color: none;
}

/* Introdunction */
.Introduction{
    text-align: left;
    width: 60%;
    margin-left: 30px;
}
.Advantage h2 {
    margin-left: 30px;
}


/* Advantage */
.Advantage {
    text-align: left;
    width: 60%;
    margin-left: ;

}


/* Disadvantage */
.disadvantage {
    text-align: left;
    width: 60%;
}
.disadvantage h2 {
    margin-left: 30px; 
}

/* footer */

#footer {
    padding: 2% 15% 2%;

}


.ic {
    padding: 0 1% 2%;
}